{% load static %}
<div class="page-wrapper">
    <header class="page-header">
        <div class="page-header__inner">
            <div class="page-header__sidebar">
                <div class="page-header__menu-btn">
                    <button class="menu-btn ico_menu is-active"></button>
                </div>
                <div class="page-header__logo">
                    <img src="{% static 'assets/img/logo.png' %}" alt="logo"/><span
                        class="page-header__logo_text"
                >Diss-Cuss</span
                >
                </div>
            </div>
            <div class="page-header__content">
                {% if request.user.is_authenticated %}
                    <div class="page-header__action">
                    <a href="{{ request.user.username }}">{{ request.user.username }}</a>

                    <div class="user-item --active">
                        <div class="user-item__avatar">
                            <img src="{% static 'assets/img/foto.jpg' %}" alt="user"/>
                        </div>
                    </div>
                {% else %}
                    <div class="page-header__action">
                        <a href="{% url 'login' %}">Login</a>
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
    </header>
    <div class="page-content">
        <aside class="sidebar is-show" id="sidebar">
            <div class="sidebar-box">
                <ul class="uk-nav">
                    <li>
                        <a href="{% url 'home' %}"><i class="ico_home"></i><span>Home</span></a>
                    </li>
                    <li>
                        <a href="#"><i class="ico_gallery"></i><span>News</span></a>
                    </li>
                    <li class="uk-nav-header">Account</li>
                    <li>
                        <a href="{% url 'user-profile' user.id %}"
                        ><i class="ico_profile"></i><span>Profile</span></a
                        >
                    </li>
                    <li>
                        <a href="#"
                        ><i class="ico_favourites"></i><span>Favourites</span></a
                        >
                    </li>
                    <li>
                        <a href="{% url 'logout' %}"
                        ><i class="ico_report"></i><span>Logout</span></a
                        >
                    </li>
                </ul>
            </div>
        </aside>
    </div>
</div>