{% extends 'main.html' %}

{% block content %}
    {% if page == 'login' %}
        <div class="page-wrapper">
            <main class="page-first-screen">
                <div
                        class="uk-grid uk-grid-small uk-child-width-1-2@s uk-flex-middle uk-width-1-1"
                        data-uk-grid
                >
                    <div class="logo-big">
                        <img
                                src="{% static 'assets/img/logo-big.png' %}"
                                alt="logo"
                                class="animation-navspinv"
                        />
                        <span>Diss-Cuss</span>
                        <h1>Join now and discuss together!</h1>
                    </div>
                    <div>
                        <div class="form-login">
                            <div class="form-login__social">
                                <ul class="social">
                                    <li>
                                        <a href="http://www.google.com"
                                        ><img src="{% static 'assets/img/google.svg' %}" alt="google"
                                        /></a>
                                    </li>
                                    <li>
                                        <a href="http://www.facebook.com"
                                        ><img src="{% static 'assets/img/facebook.svg' %}" alt="facebook"
                                        /></a>
                                    </li>
                                    <li>
                                        <a href="http://www.twitter.com"
                                        ><img src="{% static 'assets/img/twitter.svg' %}" alt="twitter"
                                        /></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="form-login__box">
                                <div class="uk-heading-line uk-text-center">
                                    <span>or with Email</span>
                                </div>
                                <form action="" method="POST">
                                    {% csrf_token %}
                                    <div class="uk-margin">
                                        <input
                                                class="uk-input"
                                                type="text"
                                                name="username"
                                                placeholder="Username"
                                        />
                                    </div>
                                    <div class="uk-margin">
                                        <input
                                                class="uk-input"
                                                type="password"
                                                name="password"
                                                placeholder="Password"
                                        />
                                    </div>
                                    <div class="uk-margin">
                                        <button
                                                class="uk-button uk-button-danger uk-width-1-1" type="submit"

                                        >Log In
                                        </button>
                                    </div>
                                    <div class="uk-margin uk-text-center">
                                        <a href="#">Forgotten password?</a>
                                    </div>
                                    <hr/>
                                    <div class="uk-text-center">
                    <span>Don’t have an account?</span
                    ><a class="uk-margin-small-left" href="{% url 'register' %}"
                                    >Register</a
                                    >
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    {% else %}
        <div class="page-wrapper">
            <main class="page-first-screen">
                <div
                        class="uk-grid uk-grid-small uk-child-width-1-2@s uk-flex-middle uk-width-1-1"
                        data-uk-grid
                >
                    <div class="logo-big">
                        <img
                                src="{% static 'assets/img/logo-big.png' %}"
                                alt="logo"
                                class="animation-navspinv"
                        />
                        <span>Diss-Cuss</span>
                        <h1>Join now and discuss together!</h1>
                    </div>
                    <div>
                        <div class="form-login">
                            <div class="form-login__social">
                                <ul class="social">
                                    <li>
                                        <a href="http://www.google.com"
                                        ><img src="{% static 'assets/img/google.svg' %}" alt="google"
                                        /></a>
                                    </li>
                                    <li>
                                        <a href="http://www.facebook.com"
                                        ><img src="{% static 'assets/img/facebook.svg' %}" alt="facebook"
                                        /></a>
                                    </li>
                                    <li>
                                        <a href="http://www.twitter.com"
                                        ><img src="{% static 'assets/img/twitter.svg' %}" alt="twitter"
                                        /></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="form-login__box">
                                <div class="uk-heading-line uk-text-center">
                                    <span>or with Email</span>
                                </div>
                                <form action="" method="POST">
                                    {% csrf_token %}
                                    {% for field in form %}
                                    <div class="uk-margin">
                                    <label>{{field.label}}</label>
                                       {{field}}
                                    </div>
                                    {% endfor %}
                                    <div class="uk-margin">
                                        <button
                                                class="uk-button uk-button-danger uk-width-1-1" type="submit"

                                        >Sign In
                                        </button>
                                    </div>

                                    <hr/>
                                    <div class="uk-text-center">
                    <span>Don’t have an account?</span
                    ><a class="uk-margin-small-left" href="{% url 'register' %}"
                                    >Register</a
                                    >
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    {% endif %}
{% endblock content %}